<!DOCTYPE html>
	<html>
	<head>
		<title>HappyApp</title>
		<link href="/desktop.css" rel="stylesheet" type="text/css">  
	</head>
	<body>
		<%=yield%>
		<div style="color:red">
	    <%=flash[:notice] if flash[:notice] %>
		<%=flash[:alert] if flash[:alert] %>
		</div>


	</body>


	</html>
