<h1>Welcome to the Profile Page!</h1>

<h2>Please Post:</h2>
<div id="form">
	<form method="POST" action="/posts/new"> 
		<label for="title">Post Title</label> 
		<input type="body" name="[post]title"> 
		<label for="body">Post Text</label>
		<textarea name="[post]body"></textarea> <input type="submit">
	</form>
</div>
￼
<br>
<%=@user.fname%>
<br>
<br>
<%@user.posts.each do |post| %>
<%=post.body%>
<br>
<%end%>



<a href="/">Return Home</a>